@charset "UTF-8";

@import 'base/app';
@import 'layout/app';
@import 'module/app';


.test {
  position: absolute;
  &:hover {
    cursor: pointer;


    color: #fff;
    float: left;
    // fdsaffdsafda
  }
}